@media print {
  button {
    display: none !important;
  }

  input {
    border: none !important;
    background: transparent !important;
    color: black !important;
  }

  #print-list {
    display: none !important;
  }

  .page-break {
    page-break-before: always;
    break-before: page;
  }
}
